/* gnb frame */
#css_gnb_frame {
	text-align: left;
}
/* main-menu */
#css_gnb_frame div.mm_wrap {
	height: 80px;
	text-align: center;
}
#css_gnb_frame ul.mm {
	list-style: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	/*line-height: 1.0em;
	padding-top: 1.01em;*/
	*padding-top: 1.1em;
}
#css_gnb_frame ul.mm li {
	display: inline;
	cursor: pointer;
	padding: 0;
	margin: 0;
	font-size: 13px;
	letter-spacing: -1px;
	line-height:80px;
	font-weight: bold;
	/*line-height: 1.0em;*/
}
#css_gnb_frame ul.mm li.first {
	margin-left: 0;
	*margin-left: 1px;
}
/* sub-menu */
/*2012.10.15 브라우저 축소시 2depth 메뉴 nobr. class="sm_box" add (css_menu.in.php div add )*/
#css_gnb_frame .sm_box{
	position: absolute;
	margin-top: 0px;
	line-height: 1.3em;
	width:100%;
	top:0px;
	z-index:-1;
	/*min-width:980px;*/
	}
#css_gnb_frame ul.sm {
	float: left;
	width:auto;
	padding: 18px 30px 35px;
	background:url('/design/skin/img/sm_bg.png');
	border-radius:8px;
}
#css_gnb_frame ul.sm li {
	cursor: pointer;
	white-space:nowrap;
	font-size: 15px;
	text-align:center;
	margin-top:24px;
}
#css_gnb_frame ul.sm li.first {
	margin-left: 0;
}

#css_gnb_frame ul.sm.s1 {margin-left:-36px !important;}